flask==3.0.2
flask-cors==4.0.0
gunicorn==21.2.0
selenium==4.18.1
beautifulsoup4==4.12.3
webdriver-manager==4.0.1
google-generativeai==0.3.2
colorama==0.4.6
Pillow==10.2.0
requests==2.31.0
Werkzeug==3.0.1
gunicorn